@using WebUI.Models
@model CoursesListViewModel

@{
    ViewBag.Title = "Курсы";
}

@foreach (var course in Model.Courses)
{
    <div>
        <h3>@course.Name - @course.Teacher</h3>
        <p>@course.Description</p>
        <h4>@course.Price.ToString("# руб\\.")</h4>
    </div>
    <hr />
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new {  page = x}))
</div>
       

